body {
    background-color: #03083d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1, h2 {
    color: #ff5f4a;
    text-align: center;
    margin-top: 2em;
}

p {
    color: #fff;
}

span {
    color: #ff5f4a;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 15rem;
}

@media screen and (max-width: 1200px){
    main {
        margin:  2rem 3rem;
    }
}

